<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE js</title>
    <style>
      .boite {
        width: 150px;
        height: 150px;
        border: 2px solid black;
      }
      .fondRouge {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <!-- APP -->
    <div id="app">
      <div v-if="rouge" class="boite fondRouge"></div>
      <div v-else="rouge" class="boite"></div>
      <p :style="{color: 'blue'}"> 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores quisquam, at quae quos odio optio reiciendis
        ex asperiores possimus deleniti itaque odit earum delectus eius ipsam? Veniam ad eum odit.
      </p>
      <hr>
      <p v-if="age<18 && age>=0">Vous n'êtes pas majeur</p>
      <p v-else-if="age>18 && age <40">Vous êtes adulte</p>
      <p v-else-if="age>=40">Vous êtes vieux</p>
      <p v-else>Impossible</p>
      <hr>
      <template v-if="prenom==='Alexandre'">
        <div>
          <ul>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
          </ul>
        </div>
      </template>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      // VUE
      new Vue({
        el: "#app",
        data: {
          rouge:true,
          age: 80,
          prenom:"Alexandre"
        },
        methods: {},
        computed: {},
      });
    </script>
  </body>
</html>
