<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercices Supplémentaire en VUE JS</title>
  </head>
  <body>
    <h1>Exercice VUE JS</h1>
    <div id="app">
      <p v-for="prenom of prenoms">{{prenom === "Thomas"? "Casse toi":"Bonjour"}} {{prenom}}</p>
      <hr />
      <p v-for="(prenom,index) of prenoms">N°{{index}}) {{prenom}}</p>
      <hr>

      <template v-for="animal of animaux">
        <p v-for="(caract,prop) of animal">{{prop}} : {{caract}}</p>
        <hr>
      </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          prenoms: ["Jean", "Pierre", "Thomas", "Luc"],
          animaux: [
            {
              type: "chat",
              age: "3ans",
              poids: "5kg",
            },
            {
              type: "chien",
              age: "8ans",
              poids: "15kg",
            },
            {
              type: "poisson rouge",
              age: "1mois",
              poids: "100g",
            },
          ],
        },
        methods: {},
      });
    </script>
  </body>
</html>
